.sample { 
	margin: auto;
	font-family: "Trebuchet MS":
}


.page {
  height: 100%;
  margin: auto;
}

#inputs {
  width: 60%;
  margin: auto;
}

#address-input {
  margin-top: 10px;
}

#header {}

#map {
  position: relative;
  height: 80%;
  margin: 80px;
}

#dirpanel {
  width: 30%;
  float: left;
  display: block;
  margin: 80px;
  position: relative;
  left: 5px;
  top: -100%;
  background: #ffffff;
  height: 70%;
  overflow-y: scroll;
  text-align: center;
  vertical-align: middle;
  color: #aaa;
  font-size: 15px;
  padding: 15px;
}


#login-box {
  display: none;
  width: 300px;
  padding: 20px;
  outline: 1px solid black;
  position: absolute;
  right: 85px;
}

#signup-box {
  display: none;
  width: 300px;
  padding: 20px;
  outline: 1px solid black;
  position: absolute;
  right: 0;
}

#login-submit, #signup-submit {
  float: right;
}

/*#dog-info {}

#dog-names{}

.lyrics {
	background-color: black;
	border-style: solid;
	border-width: 5px;
	border-color: red;
	color: white;
	padding: 20px;
	text-transform: uppercase;
}*/
